
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--inter-font);
    background: var(--light-blue-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {  
    height: 50px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

  .navbar-links a {
      text-decoration: none;
      color: var(--dark-gray-color);
      font-family: var(--kumbh-font);
      padding: 10px 20px;
      border-radius: 5px;
      background-color: var(--dark-yellow-color);
      color: var(--white-color);
    }
    
    .navbar-links a:hover {
      background-color: var(--light-blue-color);
      color: var(--black-color);
  }