.attendance-container {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .attendance-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .short-leave-btn{
    background-color: #007bff;
  }
  .mark-attendance-btn, .short-leave-btn {
    display: block;
    width: 100%;
    
    padding: 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
  }
  
  .short-leave-btn {
    background-color: #28a745;
  }
  
   .short-leave-btn:hover {
    background-color: #0056b3;
  }
  .mark-attendance-btn:hover{
    background-color: #d71663;
  }
  
 
  