/* toggle */
.main_calendar_switch_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    font-family: var(--linden-font);
    padding: 10px 0px;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 86px;
  height: 43px;
  border-radius: 30px;
  border: 2px solid var(--third-yellow-color);
    
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 1px;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  /* border: 1px solid #ccc; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: var(--black-color);
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #5fdd54; */
  /* border: 1px solid transparent; */
}

input:checked + .slider:before {
  transform: translateX(2.5em);
}

/* calendar */

.calendar-container {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
  justify-content: space-around;

  gap: 20px;
}
.calendar_main_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.react-calendar {
  min-width: 590px;
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 20px;
  padding: 5px ;
  overflow: hidden;
}
/* .calendar-container [type=button]:not(:disabled) {
    cursor: pointer;
    border: 1px solid black;
    
} */

.react-calendar__navigation {
  display: none; 
}

.react-calendar__month-view__weekdays {
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 10px 0;
  border: 1px solid black;
}

.react-calendar__tile {
  padding: 10px 0;
  border-radius: 0;
}

.react-calendar__tile--now {
  background: #ddd;
}

.react-calendar__tile--active {
  background: #ffcc00;
  color: #000;
}

.react-select__control {
  width: 150px;
  height: 35px;
}

.react-select__menu {
  z-index: 100;
}

.custom-day {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.custom-text {
  margin-top: 5px;
  font-weight: bold;
}
