/* toggle */
.main_calendar_switch_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  font-family: var(--linden-font);
  padding: 10px 0px;
}
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 86px;
  height: 43px;
  border-radius: 30px;
  border: 2px solid var(--third-yellow-color);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 1px;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  /* border: 1px solid #ccc; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: var(--black-color);
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #5fdd54; */
  /* border: 1px solid transparent; */
}

input:checked + .slider:before {
  transform: translateX(2.5em);
}

/* calendar */

.rbc-event-content {
  white-space: normal !important;
  word-wrap: break-word !important;
}
  
.dashboard_calendar_container {
    width: 100%;
    font-family: var(--inter-font); 
    text-align: center;
}
.rbc-date-cell {
    padding: 5px;
}
/* Additional CSS for modal */
.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.custom-modal .custom-modal-content ul {
  list-style-type: none;
  padding: 0;
}

.custom-modal .custom-modal-content ul li {
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

.custom-modal .custom-modal-content ul li:hover {
  background-color: #f0f0f0;
}

.custom-modal .custom-modal-content ul li:last-child {
  border-bottom: none;
}

.custom-modal .custom-modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.custom-modal .custom-modal-content button:hover {
  background-color: #0056b3;
}

