


.date-selection {
    text-align: center;
    margin-bottom: 20px;
}

.date-selection label {
    margin: 0 10px;
}

.date-selection select {
    padding: 5px;
    font-size: 1em;
    margin: 0 10px;
}



.sunday-row {
    background-color: #f9e533;
}

.sunday-row td {
    font-weight: bold;
}

/* MonthlyAttendance.css */
/* .full-day {
    background-color: #dff0d8; 
} */

.half-day {
    background-color: #c4bfa8; /* Light yellow */
}

.sunday-row {
    background-color: #979797; /* Light gray */
}






/* salary summmary */
.summary-table {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.summary-table h4 {
    margin-bottom: 20px;
    text-align: center;
}

.summary-table table {
    width: 100%;
    border-collapse: collapse;
}

.summary-table td {
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
}



.attendance-legend {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.attendance-legend-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.attendance-legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

.attendance-legend-text {
    font-size: 1em;
}







