
.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(  180deg, var(--third-yellow-color) 0%, var(--black-color) 100%); */
    background-color: var(--third-yellow-color);

  }

.toast {
  background: "pink";
}

  
  .login_formContainer {
    background-color: var(--white-color);

    /* background: linear-gradient(  180deg, var(--third-yellow-color) 10%, var(--black-color) 100%); */

    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 500px ;
  }
  
  .login_logo {
    width: 100px;
    margin-bottom: 1rem;
  }
  
  .login_title {
    font-family: var(--lilita-font);
    margin-bottom: 1rem;
    color: var(--black-color);
  }
  
  .login_form {
    display: flex;
    flex-direction: column;
  }
  
  .login_formGroup {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .login_label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .login_input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--light-gray-color);
    border-radius: 4px;
  }
  
  .login_passwordContainer {
    display: flex;
    align-items: center;
  }
  
  .login_passwordToggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -30px;
  }
  
  .login_button {
    background-color: var(--dark-yellow-color);
    /* background: linear-gradient(  90deg, var(--third-yellow-color) 0%, var(--black-color) 100%); */

    color: var(--black-color);
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: all  1s ease;
  }
  
  .login_button:hover {
    background-color: var(--black-color);
    /* color: linear-gradient(  180deg, var(--third-yellow-color) 0%, var(--black-color) 100%); */
    color:  white ;
    scale: 1.03;


  }
  
  .login_forgotPassword {
    margin-top: 1rem;
  }
  
  .login_forgotPassword a {
    color: var(--blue-color);
    text-decoration: none;
  }
  
  .login_forgotPassword a:hover {
    text-decoration: underline;
  }