/* campaignRequirement.css */
.main_create_campaign_requirement {
    background: var(--dark-yellow-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 20px;
    font-family: 'Arial', sans-serif;
}

.create_campaign_select_category_section {
    background: var(--white-color);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create_campaign_select_category_header {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.create_campaign_select_input {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.create_campaign_select_input div {
    border: 1px solid var(--black-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.create_campaign_select_input div:hover {
    background-color: var(--light-gray-color);
}

.create_campaign_select_input div label {
    cursor: pointer;
    margin-left: 10px;
}

.accordion {
    width: 80%;
    background: var(--white-color);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.accordion-body {
    overflow-x: auto;
}

.influencer-table {
    width: 100%;
    border-collapse: collapse;
}

.influencer-table, .influencer-table-header, .influencer-table-cell {
    border: 1px solid #ddd;
}

.influencer-table-header, .influencer-table-cell {
    padding: 10px;
    text-align: center;
}

.influencer-table-header {
    background-color: var(--light-yellow-color);
    font-weight: bold;
}

.influencer-table-cell input {
    width: 80%;
    padding: 5px;
    text-align: center;
}

@media (max-width:800px) {
    .main_create_campaign_requirement {
        padding: 40px;
        gap: 20px;
    }
    
    .accordion {
        width: 89%;
    }
    .create_campaign_select_category_section {
        width: 89%;
        padding: 20px;
        gap: 10px;
    }
}

@media (max-width:530px) {
    .main_create_campaign_requirement {
        padding: 30px;
        gap: 15px;
    }
    .accordion {
        width: 110%;
    }
    
    .create_campaign_select_category_section {
        width: 100%;
        padding: 15px;
        gap: 5px;
    }
}