.button-section {
 display: flex;
 justify-content: center;
 gap: 10px;
 margin-top: 20px;
}

.button-section button {
 padding: 10px 20px;
 font-size: 16px;
 color: #fff;
 background-color: #0056b3;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.button-section button:hover {
 background-color: #004494;
} 

.invoice_page_border {
  border: 1px solid #000;
}

.invoice-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border: 1px solid #000;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.invoice-header {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 80px;
}

.invoice-info {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* margin-bottom: 10px; */
  gap: 20px;
  padding: 10px 0px 0px 0px;
}

.invoice-info .d-flex {
  width: 100%;
  justify-content: space-between;
}

.invoice-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table_data_invoice {
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
  margin: 2px 0;
}

.table_data_invoice div {
  width: 100%;
}

.table_data_invoice div:nth-child(1) {
  font-weight: bold;
}

.details-section {
  width: 48%;
}

.details-section h6 {
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  padding-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
}

.invoice-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.invoice-table th, .invoice-table td {
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
  font-size: 8px;
}

.invoice-summary {
  display: flex;
  justify-content: space-between;
}

.total-amount, .amount-summary {
  width: 48%;
}

.terms-and-bank {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.terms, .bank-details {
  width: 48%;
}

.terms h6, .bank-details h6 {
  text-align: center;
  border-bottom: 1px solid #000;
  /* margin-bottom: 5px; */
  /* padding-bottom: 2px; */
}

.signature-section {
  text-align: right;
}

.signature-section img {
  display: block;
  margin: auto;
}

.signature-line {
  text-align: right;
}

.button-section {
  text-align: center;
  margin-top: 10px;
}

.button-section button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 12px;
  cursor: pointer;
}
