.all-user-users-page {
  padding: 20px;
  font-family: var(--inter-font);
}

.all-user-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--light-blue-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.all-user-tabs {
  display: flex;
  gap: 10px;
}

.tab-button {
  padding: 10px 10px;
  border: none;
  border: 1px solid var(--light-gray-color);
  color: var(--dark-gray-color);
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--kumbh-font);
  font-size: 14px;
}

.tab-button.active {
  background-color: var(--dark-yellow-color);
  color: var(--white-color);
  border: 1px solid var(--dark-yellow-color);
}

.all-user-state-filter, .all-user-level-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white-color);
}

#state, #level {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid var(--light-gray-color);
  font-family: var(--kumbh-font);
}

.all-user-users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.all-user-user-card {
  background: var(--light-blue-color);
  padding: 20px 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(18.333% - 20px);
}

.all-user-user-card.rejected {
  background-color: #ffcccc9c;
}

.all-user-user-card.verified {
  background-color: #ccffccac;
}

.all-user-user-card.pending {
  background-color: #ffffcc8c;
}

.all-user-user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.all-user-user-info {
  text-align: center;
}

.all-user-social-media {
  margin-top: 10px;
}

.all-user-view-social-media-button {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: var(--dark-blue-color);
  /* color: var(--white-color); */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.all-user-view-more-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--dark-yellow-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .all-user-user-card {
    width: calc(25% - 20px);
  }

  .tab-button {
    padding: 10px 10px;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .all-user-user-card {
    width: calc(50% - 20px);
  }
  
  .tab-button {
    padding: 5px 10px;
    font-size: 12px;
  }
  
  .all-user-tabs {
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .all-user-top-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .all-user-search {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .all-user-user-card {
    width: calc(100% - 20px);
  }
}
